<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.e_garage">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EGarage"
        tools:targetApi="31">
        <activity
            android:name=".AllGarage"
            android:exported="false" />
        <activity
            android:name=".ServiceList"
            android:exported="false" />
        <activity
            android:name=".AddAServiceOfGarage"
            android:exported="false" />
        <activity
            android:name=".MyGarage"
            android:exported="false" />
        <activity
            android:name=".GarageList"
            android:exported="false" />
        <activity
            android:name=".MyGarageDetails"
            android:exported="false" />
        <activity
            android:name=".Location"
            android:exported="false" />
        <activity
            android:name=".MyPosts"
            android:exported="false" />
        <activity
            android:name=".ProductDetails"
            android:exported="false" />
        <activity
            android:name=".AddAPost"
            android:exported="false" />
        <activity
            android:name=".MainPage"
            android:exported="false"
            android:label="@string/title_activity_main_page" />
        <activity
            android:name=".Accessories"
            android:exported="false"
            android:label="Accessories" />
        <activity
            android:name=".SplashScreen"
            android:exported="false" />
        <activity
            android:name=".LogInAs"
            android:exported="false" />
        <activity
            android:name=".register"
            android:exported="false" />
        <activity
            android:name=".LogIn"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>